services:
  db:
    image: postgres:16
    container_name: bookvault_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  api:
    build: .
    container_name: bookvault_api
    restart: always
    depends_on:
      - db
    environment:
      PORT: 8000
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "8000:8000"
    command: ["/bin/sh", "-c", "sleep 5 && ./bookvault-api"]

volumes:
  db_data:
