apiVersion: apps/v1
kind: Deployment
metadata:
  name: bookvault-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: bookvault-api
  template:
    metadata:
      labels:
        app: bookvault-api
    spec:
      containers:
        - name: api
          image: "${DOCKERHUB_USERNAME}/bookvault-api:latest"
          ports:
            - containerPort: 8000
          env:
            - name: PORT
              value: "8000"
            - name: DB_HOST
              value: "bookvault-db"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_NAME
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: JWT_SECRET
